@import "styles/variables.scss";

.slider-container {
  @apply flex flex-row w-full h-[350px] relative;

  .slider {
    @apply flex flex-row;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    // hide scroll bar for chrome, safari and opera
    &::-webkit-scrollbar {
      display: none;
    }

    // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .slide-item {
    min-width: 100%;
    scroll-snap-align: start;
    text-align: center;
  }

  .slides {
    @apply object-cover w-full;
    position: absolute;
    left: 0;
    height: 390px;
    img {
      transition: all 0.3s;
    }
  }

  .prev-btn,
  .next-btn {
    @apply w-[58px] h-[58px] flex justify-center items-center rounded-full text-xl bg-[#DEDED2] absolute cursor-pointer z-[1];
    @apply top-1/2;

    transition: 0.3s all;

    svg {
      opacity: 0.6;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .prev-btn {
    @apply -left-8;
  }

  .next-btn {
    @apply -right-8;
  }
}

@media screen and (max-width: $phone-max) {
  .slider-container {
    height: 160px;
    .slides {
      @apply h-[160px];
    }

    .prev-btn,
    .next-btn {
      @apply w-[32px] h-[32px] text-base top-[40%];
    }
    .prev-btn {
      @apply left-0;
    }

    .next-btn {
      @apply right-0;
    }
  }
}
