@import "styles/variables.scss";
.signup-page {
  @apply w-full h-full flex justify-center items-center;
  background-image: url("https://cdn.mos.cms.futurecdn.net/i6TrBy2mwK8v5nkWfwjuRM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .signup-form {
    @apply flex flex-col  text-white rounded-lg w-[800px] py-8;
    backdrop-filter: blur(6px);
  }

  .back-btn {
    @apply cursor-pointer rounded-full w-[52px] h-[52px] bg-black flex justify-center items-center absolute top-[32px];
  }

  h1 {
    @apply text-xl font-semibold text-white self-center;
  }

  form {
    @apply flex flex-col px-28 rounded mt-8 py-8 gap-4;
    button {
      @apply px-8 py-4 bg-green text-white;
      &:hover {
        @apply opacity-60;
      }
    }
  }

  .form-field {
    @apply flex flex-col;
    label {
      @apply mb-4 text-base font-semibold;
    }
    input {
      @apply h-10 px-2 text-black rounded;
    }
  }
  button {
    @apply mt-6 font-semibold text-[22px] rounded;
  }
  .error-field {
    @apply text-red;
  }

  .extra-text {
    @apply text-center;
    a {
      @apply text-[#ffebcd] font-semibold text-[18px] underline;
    }
    .or-go-back {
      @apply hidden opacity-60;
    }
  }
}

@media screen and (max-width: $phone-max) {
  .signup-page {
    form {
      @apply px-2;
    }
    .back-btn {
      @apply hidden;
    }
    .form-field {
      input {
        @apply border-2 border-gray;
      }
    }
    .extra-text {
      .or-go-back {
        @apply block;
      }
    }
  }
}
