@import "styles/variables.scss";

.white-header {
  @apply flex bg-white w-full items-center py-6 justify-between;
  background: white;
  max-width: 1200px;
  margin: 0 auto;

  .left {
    @apply flex flex-row;
  }

  .store-name {
    @apply text-xl font-bold;
    color: green;
    font-family: "Trochi";
  }

  .search-bar {
    @apply ml-3 flex justify-center items-center;

    input {
      @apply border-2 border-gray mr-3 rounded;
    }
    svg {
      @apply cursor-pointer;
    }
  }

  .right {
    @apply flex items-center;
  }

  .login-signup {
    @apply mr-3;
    span {
      @apply cursor-pointer;
      &:hover {
        @apply underline;
      }
    }
  }

  .cart {
    @apply flex items-center gap-3 cursor-pointer;
  }
}

@media screen and (max-width: $phone-max) {
  .white-header {
    .store-name {
      @apply text-sm px-2;
    }
  }
}
